services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Repositories\DriverRepository
	- App\AdminModule\Components\Forms\Driver\DriverFormFactory
	- App\Model\Repositories\TeamRepository
	- App\AdminModule\Components\Forms\Team\TeamFormFactory
	- App\Model\Repositories\ChiefRepository
	- App\AdminModule\Components\Forms\Chief\ChiefFormFactory
	- App\Model\Repositories\DisciplineRepository
	- App\AdminModule\Components\Forms\Discipline\DisciplineFormFactory
	- App\Model\Repositories\ScoreSystemRepository
	- App\AdminModule\Components\Forms\ScoreSystem\ScoreSystemFormFactory
	- App\Model\Repositories\TeamChiefRepository
	- App\AdminModule\Components\Forms\TeamChief\TeamChiefFormFactory
	- App\Model\Repositories\TeamDriverRepository
	- App\AdminModule\Components\Forms\TeamDriver\TeamDriverFormFactory
	- App\Model\Repositories\ScheduleRepository
	- App\AdminModule\Components\Forms\Schedule\ScheduleFormFactory
	- App\Model\Repositories\ScheduleDetailRepository
	- App\AdminModule\Components\Forms\ScheduleDetail\ScheduleDetailFormFactory
	- App\Model\Repositories\RaceResultRepository
	- App\AdminModule\Components\Forms\RaceResult\RaceResultFormFactory
